<div class="input-group input-group-sm">
  <span class="input-group-addon">
    <label>Label coordinates</label>
    {{input type="checkbox" name="shouldlabel" checked=shouldLabel}}
  </span>
  <span class="input-group-addon">
    <label>Fog</label>
    {{input type="checkbox" name="fog" checked=fog}}
  </span>
  <span class="input-group-addon">
    <label>Slab mode</label>
    {{view bootstrap-multiselect
      multiple=false
      content=slabModes
      selection=slabMode
      allowMultiple=false
      id="slab_mode"
    }}
  </span>
</div>


{{#if showSlabControls}}
<div class="row">
  <div class="col-xs-1 flea-label">
    <label for=Near>Near</label>
  </div>
  <div class="col-xs-10 vcenter">
    {{input type="range" id="near" min="0.1" value=slabNear max=slabFar step="0.1"}}
  </div>
  <div class="col-xs-1 flea-value">
    <output for=near id=far>{{slabNear}}</output>
  </div>
</div>

<div class="row">
  <div class="col-xs-1 flea-label">
    <label for=far>Far</label>
  </div>

  <div class="col-xs-10">
    {{input type="range" id="far" min=slabNear value=slabFar max=400 step="0.1"}}
  </div>

  <div class="col-xs-1 flea-value">
    <output for=far id=far>{{slabFar}}</output>
  </div>
</div>
{{/if}}
