<div class="input-group input-group-sm">
  <div class="input-group-btn">
    <button {{action "jumpLeft"}} type="button" class="btn btn-default btn-sm" title="Jump left">
      <i class="fa fa-fast-backward" ></i>
    </button>
  </div>
  <div class="input-group-btn">
    <button {{action "moveLeft"}} type="button" class="btn btn-default btn-sm" title="Move left">
      <i class="fa fa-backward" ></i>
    </button>
  </div>
  <span class="input-group-addon">From</span>
  {{input value=rangeStop placeholder="HXB2 coordinate (e.g. 160)"}}
  <span class="input-group-addon">To</span>
  {{input value=rangeStop placeholder="HXB2 coordinate (e.g. 200)"}}
  <div class="input-group-btn">
    <button {{action "moveRight"}} type="button" class="btn btn-default btn-sm" title="Move right">
      <i class="fa fa-forward" ></i>
    </button>
  </div>
  <div class="input-group-btn">
    <button {{action "jumpRight"}} type="button" class="btn btn-default btn-sm" title="Jump right">
      <i class="fa fa-fast-forward" ></i>
    </button>
  </div>
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Predefined
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#" class="_seq_predef" data-range="131,156">V1</a></li>
      <li><a href="#" class="_seq_predef" data-range="157,196">V2</a></li>
      <li><a href="#" class="_seq_predef" data-range="296,330">V3</a></li>
      <li><a href="#" class="_seq_predef" data-range="385,418">V4</a></li>
      <li><a href="#" class="_seq_predef" data-range="461,471">V5</a></li>
      <li><a href="#" class="_seq_predef" data-range="662,683">MPER</a></li>
    </ul>
  </div>
  <span class="input-group-addon">
    Mark positively selected sites
    {{input type="checkbox" name="markPositive" checked=markPositive}}
  </span>
</div>
