<table class="table table-hover table-condensed">
  <thead>
    <td class="seq-date">HXB2 coord.</td>
    <td class="sequence">
      {{{refHTML}}}
    </td>
  </thead>
  <tbody>
    <tr>
    <td class="seq-date">MRCA</td>
    <td class="sequence">{{amino-acid mrcaSlice}}</td>
    </tr>
    {{#each groupedSequences}}
    <tr>
      <td class="seq-date">{{date}}</td>
      <td class="sequence">
        <ul class="list-unstyled">
          {{#each seq in sequences}}
          <li>{{amino-acid seq.sequence}} {{seq.copyNumber}}</li>
          {{/each}}
        </ul>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
