<div class="input-group-btn">
  <button {{action "moveRange" -5}} type="button" class="btn btn-default btn-sm" title="Jump left">
    <i class="fa fa-fast-backward" ></i>
  </button>
</div>
<div class="input-group-btn">
  <button {{action "moveRange" -1}} type="button" class="btn btn-default btn-sm" title="Move left">
    <i class="fa fa-backward" ></i>
  </button>
</div>
<span class="input-group-addon">From</span>
{{input type="number" class="form-control" value=myRangeStart
  placeholder="HXB2 coordinate (e.g. 160)"
  autofocus="autofocus" focus-out="display" insert-newline="display"
}}
<span class="input-group-addon">To</span>
{{input type="number" class="form-control" value=myRangeStop
  placeholder="HXB2 coordinate (e.g. 200)"
  autofocus="autofocus" focus-out="display" insert-newline="display"
}}
<div class="input-group-btn">
  <button {{action "moveRange" 1}} type="button" class="btn btn-default btn-sm" title="Move right">
    <i class="fa fa-forward" ></i>
  </button>
</div>
<div class="input-group-btn">
  <button {{action "moveRange" 5}} type="button" class="btn btn-default btn-sm" title="Jump right">
    <i class="fa fa-fast-forward" ></i>
  </button>
</div>
{{#if predefinedRegions}}
<div class="input-group-btn">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Predefined
    <span class="caret"></span></button>
  <ul class="dropdown-menu">
    {{#each region in predefinedRegions}}
    <li>
      <a {{action "setRange" region.start region.stop}} class="seq-predef">
        {{region.name}}
      </a>
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}
