<table class="table table-hover table-condensed nostretch sequence-viewer" id="sequence-viewer">
  <thead>
    <td class="seq-cell">ref. coord.<br>
      <div>
      <button title="Select positive sites" type="button" class="btn btn-default btn-sm" {{action "selectPositiveClicked"}}><i class="fa fa-plus"></i></button>
      <button title="Clear sites" type="button" class="btn btn-default btn-sm" {{action "clearPositions"}}><i class="fa fa-remove"></i></button>
      </div>
    </td>
    <td class="seq-cell ref-coords">
    {{#each elt in refHTML}}
    <span {{bind-attr class=elt._class}}
          {{bind-attr data-coord=elt.dataCoord}}
          {{action "togglePosition" elt.dataCoord}}>
      {{{elt.html}}}
    </span>
    {{/each}}
    </td>
    <td class="seq-cell"></td>
    <td class="seq-cell"></td>
  </thead>
  <tbody>
    <tr>
      <td class="seq-cell">MRCA</td>
      <td class="seq-cell"><span class="mrca">{{amino-acid mrca}}</span></td>
      <td class="seq-cell"></td>
      <td class="seq-cell"></td>
    </tr>
    {{#each groupedSequences}}
    <tr>
      <td class="seq-cell">{{date}}</td>
      <td class="seq-cell">
        <ul class="list-unstyled">
          {{#each seq in sequences}}
          <li>{{amino-acid seq.sequence seq.highlights seq.mask}}</li>
          {{/each}}
        </ul>
      </td>
      <td class="seq-cell">
        <ul class="list-unstyled">
          {{#each seq in sequences}}
          <li>
            {{#bootstrap-popover title="" dataContent=seq.html placement="right"}}
            {{seq.copyNumber}}
            {{/bootstrap-popover}}
          </li>
          {{/each}}
        </ul>
      </td>
      <td class="seq-cell">
        <ul class="list-unstyled">
          {{#each seq in sequences}}
          <li>{{format-percent seq.percent}}%</li>
          {{/each}}
        </ul>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
