<div class="pv-viewer">
{{pv-wrapper structure=model.structure data=structureData}}
</div>

{{range-selector values=timepoints names=names selectedIdx=selectedTimepointIdx}}

<div class="input-group input-group-sm">
  <span class="input-group-addon">
    Use entropy
    {{input type="checkbox" name="useEntropy" checked=useEntropy}}
  </span>
  <span class="input-group-addon">
    Use turnover
    {{input type="checkbox" name="useTurnover" checked=useTurnover}}
  </span>
  <span class="input-group-addon">
    Mark positively selected sites
    {{input type="checkbox" name="markPositive" checked=markPositive}}
  </span>
</div>
<br>
{{gene-plots width=1140 names=names data1=data1 data2=data2
  positions=positions labels=labels url=currentPath}}
