<div class = "row">
  <div class = "col-md-12">
    <div class="input-group input-group-sm">
      {{sequence-range-controls ranges=ranges
      seqLen=refLen
      predefinedRegions=model.predefinedRegions
      }}
      {{input type="text" class="form-control" value=_regexValue
      placeholder="Pattern to highlight" autofocus="autofocus"
      focus-out="doRegex" insert-newline="doRegex"
      }}
      <div class="input-group-btn">
        <button {{action "resetRegex"}} type="button"
          class="btn btn-default btn-sm" title="Reset regexp">
          <i class="fa fa-undo"></i>
        </button>
      </div>
      <span class="input-group-addon">Threshold %</span>
      {{input type="text" class="form-control" value=_threshold
      placeholder="%" autofocus="autofocus"
      focus-out="doThreshold" insert-newline="doThreshold"
      size="1"
      }}
      <span class="input-group-addon">
        Mark selected sites
        {{input type="checkbox" name="markPositive" checked=markPositive}}
      </span>
    </div>
  </div>
</div>
<br>
<div class = "row">
  <div class = "col-md-12">
    {{timeseries-plot width=800 height=200 data=aaTrajectories
      legendRight=true ymin=0 interpolation="monotone"}}
  </div>
</div>

<div class = "row">
  <div class = "col-md-12">
    {{alignment-overview
    alnRanges=alnRanges
    alnLen=alnLen
    markPositive=markPositive
    positiveSelection=model.rates.positiveSelection
    selectedPositions=selectedPositions
    predefinedRegions=model.predefinedRegions
    alnToRefCoords=model.frequencies.alnToRefCoords
    refToAlnCoords=model.frequencies.refToFirstAlnCoords
    updateRange="updateAlnRange"
    setRanges="setRanges"
    addRange="addRange"
    rmRange="rmRange"
    }}
  </div>
</div>

<div class = "row">
  <div class = "col-md-12">
    {{sequence-viewer groupedSequences=groupedSequences
    alnRanges=alnRanges mrca=mrcaSlice
    selectedPositions=selectedPositions
    markPositive=markPositive
    alnToRef=model.frequencies.alnToRefCoords
    positiveSelection=model.rates.positiveSelection
    regex=regex
    selectDefault=true
    }}
  </div>
</div>
