<div class="row">
  <div class="col-md-12">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        Genomic region
      </span>
      {{#x-select-bootstrap value=selectedGenomicRegion action="selectGenomicRegion"}}
      {{#each genomicRegions as |region|}}
      {{#x-option value=region}}{{region}}{{/x-option}}
      {{/each}}
      {{/x-select-bootstrap}}
      <span class="input-group-addon">
        Time point
      </span>
      {{#x-select-bootstrap value=selectedTimePoint action="selectTimePoint"}}
      {{#each timePoints as |tp|}}
      {{#x-option value=tp}}{{tp}}{{/x-option}}
      {{/each}}
      {{/x-select-bootstrap}}
      <span class="input-group-addon">
        Distance measure
      </span>
      {{#x-select-bootstrap value=selectedDistanceMeasure action="selectDistanceMeasure"}}
      {{#each distanceMeasures as |measure|}}
      {{#x-option value=measure}}{{measure}}{{/x-option}}
      {{/each}}
      {{/x-select-bootstrap}}
      <span class="input-group-addon"
            title="Update the tree when the region selected in the sequence panel changes">
        Link to selected region
        {{input type="checkbox" checked=linkeToSelection}}
      </span>
      <span class="input-group-addon">
        Show dates
        {{input type="checkbox" checked=showDates}}
      </span>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" id="expand_spacing"
                title="Expand spacing" {{action "setSpaceState" "expand"}}>
          <i class="fa fa-expand" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="compress_spacing"
                title="Compress spacing" {{action "setSpaceState" "compress"}}>
          <i class="fa fa-compress" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_ascending"
                title="Sort deepest clades to the bottom" {{action "setSortState" "ascending"}}>
          <i class="fa fa-sort-amount-asc" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_descending"
                title="Sort deepest clades to the top" {{action "setSortState" "descending"}}>
          <i class="fa fa-sort-amount-desc" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_original"
                title="Restore original order" {{action "setSortState" "original"}}>
          <i class="fa fa-sort" ></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12' id='_tree_enclosure'>
    {{phylotree-widget tree=tree
    seq_ids_to_dates=seqIdToDate
    copynumbers=model.copynumbers
    sortState=sortState spaceState=spaceState
    showDates=showDates
    do_copy_number=true
    }}
  </div>
</div>
