<div class="row">
  <div class="col-md-12">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        Genomic region
      </span>
      {{view "select" class="form-control"
          content=genomicRegions
          value=selectedGenomicRegion}}
      <span class="input-group-addon">
        Time point
      </span>
      {{view "select" class="form-control"
          content=timePoints
          value=selectedTimePoint}}
      <span class="input-group-addon">
        Distance measure
      </span>
      {{view "select" class="form-control"
          content=distanceMeasures
          value=selectedDistanceMeasure}}
      <span class="input-group-addon"
            title="Update the tree when the region selected in the sequence panel changes">
        Link to selected region
        {{input type="checkbox" checked=linkeToSelection}}
      </span>
      <span class="input-group-addon">
        Show dates
        {{input type="checkbox" checked=showDates}}
      </span>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" id="expand_spacing"
                title="Expand spacing" {{action "setSpaceState" "expand"}}>
          <i class="fa fa-expand" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="compress_spacing"
                title="Compress spacing" {{action "setSpaceState" "compress"}}>
          <i class="fa fa-compress" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_ascending"
                title="Sort deepest clades to the bottom" {{action "setSortState" "ascending"}}>
          <i class="fa fa-sort-amount-asc" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_descending"
                title="Sort deepest clades to the top" {{action "setSortState" "descending"}}>
          <i class="fa fa-sort-amount-desc" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_original"
                title="Restore original order" {{action "setSortState" "original"}}>
          <i class="fa fa-sort" ></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12' id='_tree_enclosure'>
    {{phylotree-widget tree=tree seq_ids_to_dates=seqIdToDate
    sortState=sortState spaceState=spaceState
    showDates=showDates}}
  </div>
</div>
