{{#if model.disabled}}
  <div class="error-pane">
    <div class="error-title">
      Evolutionary data not available
    </div>
    <div class="error-message">
      This analysis was disabled in the pipeline.
    </div>
  </div>
{{else}}
  <div class="form-inline">
    <div class="form-group">
      <label for="evo_regions">Region(s) to plot</label>
    </div>
    <div class="form-group">
      {{#power-select-multiple
	 options=regionNames
	 selected=selectedRegionNames
	 searchPlaceholder="Select region(s)"
	 searchField='name'
	 onchange=(action (mut selectedRegionNames))
	 closeOnSelect=false
	 as |region|
      }}
	{{region}}
      {{/power-select-multiple}}
    </div>

    <div class="form-group">
      <label for="evo_metrics">Evolutionary metrics</label>
    </div>
    <div class="form-group">
      {{#power-select-multiple
	 options=evoNames
	 selected=selectedEvoNames
	 searchPlaceholder="Select metric(s)"
	 searchField='name'
	 onchange=(action (mut selectedEvoNames))
	 closeOnSelect=false
	 as |evoMetric|
      }}
	{{evoMetric}}
      {{/power-select-multiple}}
    </div>

    {{#if firstEvoRegion}}
      <div class="form-group">
	<label class="text-error">(Only showing {{firstEvoRegion}})</label>
      </div>
    {{/if}}

  </div>

  <div class = 'row'>
    <div class = 'col-md-12' id="_timeseries_plot">
      {{timeseries-plot data=evoData ymin=0 tickMap=model.dates.dateToName}}
    </div>
  </div>

  <div class="form-inline">
    <div class="form-group">
      <label for="_pheno_metrics">Phenotype metrics</label>
    </div>
    <div class="form-group">
      {{#power-select-multiple
	 options=phenoNames
	 selected=selectedPhenoNames
	 searchPlaceholder="Select metric(s)"
	 searchField='name'
	 onchange=(action (mut selectedPhenoNames))
	 closeOnSelect=false
	 as |phenoMetric|
      }}
	{{phenoMetric}}
      {{/power-select-multiple}}
    </div>
    {{#if firstPhenoRegion}}
      <div class="form-group">
	<label class="text-error">(Only showing {{firstPhenoRegion}})</label>
      </div>
    {{/if}}
    {{#if excludedPhenoMetricNames}}
      <div class="form-group">
	<label class="text-error">(Not showing {{excludedPhenoMetricNames}})</label>
      </div>
    {{/if}}
  </div>

  <div class = 'row'>
    <div class = 'col-md-12' id="_timeseries_plot">
      {{timeseries-plot data=phenoData1 data2=phenoData2 tickMap=model.dates.dateToName}}
    </div>
  </div>
{{/if}}
