{{#if model.disabled}}
  <div class="error-pane">
    <div class="error-title">
      Evolutionary data not available
    </div>
    <div class="error-message">
      This analysis was disabled in the pipeline.
    </div>
  </div>
{{else}}
  <div class="form-inline">
    <div class="form-group">
      <label for="evo_regions">Region(s) to plot</label>
    </div>
    <div class="form-group">
      {{#x-select
	 multiple=true
	 value=selectedRegions
	 d="evo_regions" as |xs|
      }}
	{{#each regions as |region|}}
	  {{#xs.option value=region}}{{region}}{{/xs.option}}
	{{/each}}
      {{/x-select}}
    </div>

    <div class="form-group">
      <label for="evo_metrics">Evolutionary metrics</label>
    </div>
    <div class="form-group">
      {{#x-select
	 multiple=true
	 value=selectedEvoMetrics
	 id="evo_metrics" as |xs|
      }}
        {{#each evoMetrics as |metric|}}
          {{#xs.option value=metric}}{{metric}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>

  </div>

  <div class = 'row'>
    <div class = 'col-md-12' id="_timeseries_plot">
      {{timeseries-plot data=evoData ymin=0 tickMap=model.dates}}
    </div>
  </div>

  <div class="form-inline">
    <div class="form-group">
      <label for="_pheno_metrics">Phenotype metrics</label>
    </div>
    <div class="form-group">
      {{#x-select
	 multiple=true
	 value=selectedPhenoMetrics
	 id="pheno_metrics" as |xs|
      }}
        {{#each phenoMetrics as |metric|}}
          {{#xs.option value=metric}}{{metric}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>

  <div class = 'row'>
    <div class = 'col-md-12' id="_timeseries_plot">
      {{timeseries-plot data=phenoData data2=phenoData2 tickMap=model.dates}}
    </div>
  </div>
{{/if}}
