<div class="form-inline">
  <div class="form-group">
    <label for="evo_regions">Region(s) to plot</label>
  </div>
  <div class="form-group">
    {{#x-select-bootstrap-max multiple=true value=selectedRegions maxSelected=maxRegions
    action="selectRegions" id="evo_regions"}}
    {{#each regions as |region|}}
    {{#x-option value=region}}{{region}}{{/x-option}}
    {{/each}}
    {{/x-select-bootstrap-max}}
  </div>

  <div class="form-group">
    <label for="evo_metrics">Evolutionary metrics</label>
  </div>
  <div class="form-group">
    {{#x-select-bootstrap-max multiple=true value=selectedEvoMetrics maxSelected=maxEvoMetrics
    action="selectEvoMetrics" id="evo_metrics"}}
    {{#each evoMetrics as |metric|}}
    {{#x-option value=metric}}{{metric}}{{/x-option}}
    {{/each}}
    {{/x-select-bootstrap-max}}
  </div>

</div>

<div class = 'row'>
  <div class = 'col-md-12'>
    {{timeseries-plot width=900 height=350 data=evoData ymin=0}}
  </div>
</div>

<div class="form-inline">
  <div class="form-group">
    <label for="_pheno_metrics">Phenotype metrics</label>
  </div>
  <div class="form-group">
    {{#x-select-bootstrap-max multiple=true value=selectedPhenoMetrics maxSelected=maxPhenoMetrics
    action="selectPhenoMetrics" id="pheno_metrics"}}
    {{#each phenoMetrics as |metric|}}
    {{#x-option value=metric}}{{metric}}{{/x-option}}
    {{/each}}
    {{/x-select-bootstrap-max}}
  </div>
</div>

<div class = 'row'>
  <div class = 'col-md-12'>
    {{timeseries-plot width=900 height=350 data=phenoData data2=phenoData2}}
  </div>
</div>
