<div class = "row">
  <div class = "col-md-12">
    <div class="input-group input-group-sm">
      {{sequence-range-controls ranges=sortedRanges
	validRange=model.coordinates.refRange
	predefinedRegions=validPredefinedRegions
	setRanges="setRanges"
      }}
      {{input type="text" class="form-control" value=_pattern
	classNameBindings="patternClass"
	placeholder="Pattern to highlight" autofocus="autofocus"
	focus-out="doPattern" insert-newline="doPattern"
      }}
      <div class="input-group-btn">
        <button {{action "resetPattern"}} type="button"
					  class="btn btn-default btn-sm" title="Reset pattern">
          <i>{{fa-icon "undo"}}</i>
        </button>
      </div>
      <span class="input-group-addon">Threshold %</span>
      {{input type="number" class="form-control" value=_threshold
	min="0" max="100" step="0.01"
	placeholder="%" autofocus="autofocus"
	focus-out="doThreshold" insert-newline="doThreshold"
	size="1"
      }}
      <span class="input-group-addon">
        Mark selected sites
        {{input type="checkbox" name="markPositive" checked=markPositive}}
      </span>
      <span class="input-group-addon">
        Bar chart
        {{input type="checkbox" name="barChart" checked=barChart}}
      </span>
      <span class="input-group-addon">Motifs</span>
      {{input type="number" class="form-control" value=_maxMotifs
	min="1" max="100" step="1"
	placeholder="10" autofocus="autofocus"
	focus-out="doMaxMotifs" insert-newline="doMaxMotifs"
	size="1"
      }}
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 trajectoryPlot">
    {{#if model.sequences.selectedPositions}}
      {{c3-chart
        data=trajectoryData
        axis=trajectoryAxis
        transition=transition
        tooltip=tooltip
      }}
    {{/if}}
  </div>
</div>

<div class = "row">
  <div class = "col-md-12" id="_alignment_overview">
    {{alignment-overview
      alnRanges=alnRanges
      validAlnRange=validAlnRange
      markPositive=markPositive
      positiveSelection=model.proteinMetrics.positiveSelection.Combined
      selectedPositions=model.sequences.selectedPositions
      predefinedRegions=validPredefinedRegions
      alnToRefCoords=model.coordinates.alnToRefCoords
      refToFirstAlnCoords=model.coordinates.refToFirstAlnCoords
      refToLastAlnCoords=model.coordinates.refToLastAlnCoords
      updateRange="updateAlnRange"
      setRanges="setRanges"
      addRange="addRange"
      rmRange="rmRange"
    }}
  </div>
</div>

<div class = "row">
  <div class = "col-md-12" id="_sequence_viewer">
    {{sequence-viewer groupedSequences=groupedSequences
      alnRanges=alnRanges mrca=mrcaSplit
      reference=refSplit
      selectedPositions=model.sequences.selectedPositions
      alnToRef=model.coordinates.alnToRefCoords
      positiveSelection=model.proteinMetrics.positiveSelection
      regex=regex
      setSelectedPositions="setSelectedPositions"
    }}
  </div>
</div>
