<div class="row">
  <div class="col-sm-12">
    <div class="pv-viewer">
      {{pv-wrapper
	structure=model.structure
	data=selectedStructureData
	range=structureDataRange
	selectedPositions=model.sequences.selectedPositions
	shouldLabelCoordinates=labelCoordinates
      }}
    </div>
  </div>
</div>

<div class="row">
  <div class="form-horizontal control-group">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      {{range-selector values=timepoints selectedIdx=selectedTimepointIdx selectedIdxChanged="selectTimepointIdx"}}
    </div>
    <div class="col-sm-2 flea-value">
      <output>{{selectedName}}</output>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <label for="protein_regions">Metric to plot</label>
	{{#power-select
	   options=metrics
	   selected=selectedMetric
	   searchPlaceholder="Select metric"
	   onchange=(action (mut selectedMetric))
	   as |metric|
	}}
	  {{metric}}
	{{/power-select}}
      </span>
      <span class="input-group-addon">
	<label>Label coordinates</label>
	{{input type="checkbox" name="labelCoordinates" checked=labelCoordinates}}
      </span>
      <span class="input-group-addon">
        <label>Mark positively selected sites</label>
        {{input type="checkbox" name="markPositive" checked=markPositive}}
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" id="_protein_plots">
    {{protein-plots names=names data1=data1 data2=data2
      positions=positions labels=labels url=currentPath
      addCombined=addCombined
      alnToRefCoords=model.coordinates.alnToRefCoords
      refToFirstAlnCoords=model.coordinates.refToFirstAlnCoords
    }}
  </div>
</div>
