<div class="row">
  <div class="col-sm-12">
    <div class="pv-viewer">
      {{#if selectedTimepointName}}
	<span class="pv-title">{{selectedTimepointName}}</span>
      {{/if}}
      {{pv-wrapper
	structure=model.pdb
	data=selectedStructureData
	range=structureDataRange
	selectedPositions=selectedReferencePositions
	shouldLabelCoordinates=labelCoordinates
      }}
    </div>
  </div>
</div>

<div class="row">
  <div class="form-horizontal control-group timepoint-slider">
    <div class="col-sm-3 timepoint-label">
      <output>Select time point:</output>
    </div>
    <div class="col-sm-6">
      {{ui-slider 
	defaultValue=0
	value=selectedTimepointIdx
	ticks=ticks
	ticksLabels=timepointNames
	step=1
	tooltip='hide' 
	min=0
	max=ticks.length
	focus=true
	naturalArrowKeys=true
	immediateResponse=true
      }}
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <label for="protein_regions">Metric to plot</label>
	{{#power-select
	   options=metricNames
	   selected=selectedMetricName
	   placeholder="Select metric"
	   onchange=(action (mut selectedMetricName))
	   as |metric|
	}}
	  {{metric}}
	{{/power-select}}
      </span>
      <span class="input-group-addon">
	<label>Label coordinates</label>
	{{input type="checkbox" name="labelCoordinates" checked=labelCoordinates}}
      </span>
      <span class="input-group-addon">
        <label>Mark positively selected sites</label>
        {{input type="checkbox" name="markPositive" checked=markPositive}}
      </span>
    </div>
  </div>
  <div class="col-sm-1">
  </div>
</div>

<div class="row">
  <div class="col-sm-12" id="_protein_plots">
    {{protein-plots
      names=timepointNames
      data1=data1
      data2=data2
      selectedPositions=positiveSelectionPositions
      labels=plotLabels
      url=currentPath
      alnToRefCoords=model.coordinates.alnToRefCoords
      refToFirstAlnCoords=model.coordinates.refToFirstAlnCoords
    }}
  </div>
</div>
