<div id="wrapped-table">  <!-- for fixed header; see https://stackoverflow.com/a/25902860 -->
  <table class="table table-condensed nostretch sequence-viewer" id="sequence-viewer">
    <thead>
      <tr>
	<th class="seq-cell">ref. coord.<br>
	  <div>
	    <button title="Select positive sites" type="button" class="btn btn-default btn-sm" {{action "selectPositiveClicked"}}><i class="fa fa-plus"></i></button>
	    <button title="Clear sites" type="button" class="btn btn-default btn-sm" {{action "clearPositions"}}><i class="fa fa-remove"></i></button>
	  </div>
	</th>
	<th class="seq-cell ref-coords">
	  {{#each refHTML as |elt|}}
	    <span class="{{elt._class}}"
			 data-coord="{{elt.dataCoord}}"
			 {{action "togglePosition" elt.dataCoord}}>
	      {{{elt.html}}}
	    </span>
	  {{/each}}
	</th>
	<th class="seq-cell"></th>
	<th class="seq-cell"></th>
      </tr>
      {{#if reference}}
	<tr>
	  <td class="seq-cell seq-cell-title">Reference</td>
	  <td class="seq-cell sequence"><span class="reference">{{amino-acid reference}}</span></td>
	  <td class="seq-cell"></td>
	  <td class="seq-cell"></td>
	</tr>
      {{/if}}
      <tr>
	<td class="seq-cell seq-cell-title">MRCA</td>
	<td class="seq-cell sequence"><span class="mrca">{{amino-acid mrca}}</span></td>
	<td class="seq-cell"></td>
	<td class="seq-cell"></td>
      </tr>
    </thead>
    <tbody>
      {{#if markPositive}}
	<tr class="positivePositions">
	  <td class="seq-cell"></td>
	  <td class="seq-cell"><span class="addwrap">{{{combinedSelectionString}}}</span></td>
	  <td class="seq-cell"></td>
	  <td class="seq-cell"></td>
	</tr>
      {{/if}}

      {{#each groupedAndSelected as |obj|}}

	{{#if markPositive}}
	  <tr class="positivePositions">
	    <td class="seq-cell seq-cell-title">{{obj.group.label}}</td>
	    <td class="seq-cell"><span class="addwrap">{{{obj.pos}}}</span></td>
	    <td class="seq-cell"></td>
	    <td class="seq-cell"></td>
	  </tr>
	{{/if}}
	<tr>
	  {{#if markPositive}}
	    <td class="seq-cell notopborder"></td>
	  {{else}}
	    <td class="seq-cell">{{obj.group.label}}</td>
	  {{/if}}
	  <td class="seq-cell sequence">
            <ul class="list-unstyled">
              {{#each obj.group.sequences as |seq|}}
		<li>{{amino-acid seq.sequence ranges=seq.highlights mask=seq.mask}}</li>
              {{/each}}
            </ul>
	  </td>
	  <td class="seq-cell">
            <ul class="list-unstyled">
              {{#each obj.group.sequences as |seq|}}
		<li>
		  {{#bootstrap-popover title="" dataContent=seq.html placement="right"}}
		    {{seq.copyNumber}}
		  {{/bootstrap-popover}}
		</li>
              {{/each}}
            </ul>
	  </td>
	  <td class="seq-cell">
            <ul class="list-unstyled">
              {{#each obj.group.sequences as |seq|}}
		<li>{{format-percent seq.percent}}%</li>
              {{/each}}
            </ul>
	  </td>
	</tr>
      {{/each}}
    </tbody>
  </table>
</div>
