<div id = "sequence-viewer-container">
<table class="table table-hover table-condensed nostretch sequence-viewer" id="sequence-viewer">
  <div>
  <thead id="sequence-viewer_top">
    <tr>
    <th class="seq-cell">ref. coord.<br>
      <div>
      <button title="Select positive sites" type="button" class="btn btn-default btn-sm" {{action "selectPositiveClicked"}}><i class="fa fa-plus"></i></button>
      <button title="Clear sites" type="button" class="btn btn-default btn-sm" {{action "clearPositions"}}><i class="fa fa-remove"></i></button>
      </div>
    </th>

    {{#each refHTML as |elt|}}

    <th class="{{elt._class}}"
          data-coord="{{elt.dataCoord}}"
          {{action "togglePosition" elt.dataCoord}}>
      {{{elt.html}}}

  </th>
    {{/each}}

    <th class="seq-cell col"></th>
    <th class="seq-cell col"></th>
      </tr>

    {{#if markPositive}}
    <tr class="positivePositions">
      <th class="seq-cell row"></th>
      {{{combinedSelectionString}}}
      <td class="seq-cell"></td>
      <td class="seq-cell"></td>
    </tr>
    {{/if}}


    {{#if reference}}
    <tr>

      <th class="seq-cell row">Reference</th>
      {{amino-acid reference}}
      <td class="seq-cell"></td>
      <td class="seq-cell"></td>

    </tr>
    {{/if}}
<tr>
      <th class="seq-cell row">MRCA</th>
      {{amino-acid mrca}}
      <td class="seq-cell"></td>
      <td class="seq-cell"></td>
    </tr>

  </thead>
</div>
<div id="sequence-viewer_bottom" >
  <div id="bottom_inner">
<tbody>
  <tr>
    <td>-----------</td>
  </tr>
    {{#each groupedAndSelected as |obj|}}


    {{#if markPositive}}
    <tr class="positivePositions">
      <th class="row">{{obj.group.label}}</th>
      {{{obj.pos}}}
      <td class="seq-cell pad"></td>
      <td class="seq-cell pad"></td>
    </tr>
    {{/if}}


          {{#each obj.group.sequences as |seq|}}
          <tr>
            <th class="row notopborder"></th>
          {{amino-acid seq.sequence ranges=seq.highlights mask=seq.mask}}
          <td class="seq-cell pad">{{#bootstrap-popover title="" dataContent=seq.html placement="right" container="#sequence-viewer-container"}}
          {{seq.copyNumber}}
          {{/bootstrap-popover}}</td>
          <td class="seq-cell pad">{{format-percent seq.percent}}%</td>
         </tr>
          {{/each}}
    {{/each}}
  </tbody>
</div>
</div>
</table>
</div>
