<div class="input-group-btn">
  <button {{action "moveRanges" -5}} type="button" class="btn btn-default btn-sm" title="Jump left">
    <i>{{fa-icon "fast-backward"}}</i>
  </button>
</div>
<div class="input-group-btn">
  <button {{action "moveRanges" -1}} type="button" class="btn btn-default btn-sm" title="Move left">
    <i>{{fa-icon "backward"}}</i>
  </button>
</div>
<span class="input-group-addon">Range</span>
{{input type="string" class="form-control" value=rangeText
  classNameBindings="inputClass"
  placeholder="reference coordinate range (e.g. 160-200)"
  autofocus="autofocus" focus-out="handleTextSubmit" insert-newline="handleTextSubmit"
}}
<div class="input-group-btn">
  <button {{action "moveRanges" 1}} type="button" class="btn btn-default btn-sm" title="Move right">
    <i>{{fa-icon "forward"}}</i>
  </button>
</div>
<div class="input-group-btn">
  <button {{action "moveRanges" 5}} type="button" class="btn btn-default btn-sm" title="Jump right">
    <i>{{fa-icon "fast-forward"}}</i>
  </button>
</div>
{{#if predefinedRegions}}
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Predefined
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {{#each predefinedRegions as |region|}}
	<li>
	  <a {{action "setRange" region.start region.stop}} class="seq-predef">
            {{region.name}}
	  </a>
	</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
