<div class = "row">
  <div class = "col-md-12">
    <div class="input-group input-group-sm">
      {{sequence-range-controls rangeStart=rangeStart rangeStop=rangeStop
      minCoord=minCoord maxCoord=maxCoord
      predefinedRegions=predefinedRegions
      }}
      {{input type="text" class="form-control" value=regexValue
      placeholder="Pattern to highlight" autofocus="autofocus"}}
      <div class="input-group-btn">
        <button {{action "resetRegex"}} type="button" class="btn btn-default btn-sm" title="Reset regexp">
          <i class="fa fa-undo"></i>
        </button>
      </div>
      <span class="input-group-addon">
        Mark positively selected sites
        {{input type="checkbox" name="markPositive" checked=markPositive}}
      </span>
    </div>
    <div class="input-group input-group-sm">
      {{multi-select content=observedSequences name="Sequences"
      selected=_selectedSequences displayName="id" viewLimit=100
      submit="finalizeSelection" submitOnClose=true
      }}
    </div>
  </div>
</div>
<br>
<div class = "row">
  <div class = "col-md-12">
    {{timeseries-plot width=800 height=250 data=aaTrajectories legendRight=true ymin=0 interpolation="basis"}}

    {{sequence-viewer groupedSequences=groupedSequences
    alnStart=alnStart alnStop=alnStop mrca=mrcaSlice
    selectedPositions=selectedPositions
    markPositive=markPositive
    refCoords=model.frequencies.alnToRefCoords
    positiveSelection=model.rates.positiveSelection
    regex=regex
    selectDefault=true
    }}
  </div>
</div>
