<div class = "row">
  <div class = "col-md-12">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        Genomic region
      </span>
      {{view "select" content=genomicRegions value=selectedGenomicRegion}}
      <span class="input-group-addon">
        Time point
      </span>
      {{view "select" content=timePoints value=selectedTimePoint}}
      <span class="input-group-addon">
        Distance measure
      </span>
      {{view "select" content=distanceMeasures value=selectedDistanceMeasure}}
      <span class="input-group-addon" title = "Perform live updates of the tree when the region selected in the sequence panel changes">
        Link to selected region
        {{input type="checkbox" checked=linkeToSelection}}
      </span>
      <span class="input-group-addon">
        Show clone names
        {{input type="checkbox" checked=showCloneNames}}
      </span>
    </div>
    {{phylotree-wrapper tree=tree seq_ids_to_dates=seqIdToDate}}
  </div>
</div>
