<div class="row">
  <div class="col-md-4">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" id="expand_spacing"
                title="Expand spacing" {{action "increaseSpaceDelta"}}>
          <i class="fa fa-expand" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="compress_spacing"
                title="Compress spacing" {{action "decreaseSpaceDelta"}}>
          <i class="fa fa-compress" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_ascending"
                title="Sort deepest clades to the bottom" {{action "setSortState" "ascending"}}>
          <i class="fa fa-sort-amount-asc" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_descending"
                title="Sort deepest clades to the top" {{action "setSortState" "descending"}}>
          <i class="fa fa-sort-amount-desc" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_original"
                title="Restore original order" {{action "setSortState" "original"}}>
          <i class="fa fa-sort" ></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-8 pull-right">
    <div class="input-group input-group-sm">
      <span class="input-group-addon"
            title="Show copynumber">
        Show copynumber
        {{input type="checkbox" checked=showCopynumber}}
      </span>
      <span class="input-group-addon"
            title="Overlap nodes">
        Overlap nodes
        {{input type="checkbox" checked=overlapNodes disabled=hideCopynumber}}
      </span>
      <span class="input-group-addon"
            title="Change to radial layout">
        Radial layout
        {{input type="checkbox" checked=radialLayout}}
      </span>
      <span class="input-group-addon"
            title="Use ordinal colors">
        Ordinal colors
        {{input type="checkbox" checked=ordinalColors}}
      </span>
      <span class="input-group-addon">
        Node names
      </span>
      {{#x-select-bootstrap value=nodeNameType action="selectNodeNameType"}}
      {{#each nodeNameTypes as |nameType|}}
      {{#x-option value=nameType}}{{nameType}}{{/x-option}}
      {{/each}}
      {{/x-select-bootstrap}}
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-12' id='_tree_enclosure'>
    {{phylotree-widget tree=tree
    copynumbers=model.copynumbers
    sortState=sortState spaceDelta=spaceDelta
    do_copy_number=true
    seqIdToNodeName=seqIdToNodeName
    seqIdToNodeColor=seqIdToNodeColor
    seqIdToTextColor=seqIdToTextColor
    radialLayout=radialLayout
    showCopynumber=showCopynumber
    overlapNodes=overlapNodes
    }}
  </div>
</div>
