<div class="row">
  <div class="col-md-4">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" id="sort_ascending"
                title="Sort deepest clades to the bottom" {{action "setSortState" "ascending"}}>
          <i class="fa fa-sort-amount-asc" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_descending"
                title="Sort deepest clades to the top" {{action "setSortState" "descending"}}>
          <i class="fa fa-sort-amount-desc" ></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" id="sort_original"
                title="Restore original order" {{action "setSortState" "original"}}>
          <i class="fa fa-sort" ></i>
        </button>
        {{input type="range" id="vertical-spacing" min="0.1" value=heightScale max="1" step="0.1"}}
      </div>
    </div>
  </div>
  <div class="col-md-8 pull-right">
    <div class="input-group input-group-sm">
      <span class="input-group-addon"
            title="Show copynumber">
        Show copynumber
        {{input type="checkbox" checked=showCopynumber}}
      </span>
      <span class="input-group-addon"
            title="Overlap nodes">
        Overlap nodes
        {{input type="checkbox" checked=overlapNodes disabled=hideCopynumber}}
      </span>
      <span class="input-group-addon"
            title="Change to radial layout">
        Radial layout
        {{input type="checkbox" checked=radialLayout}}
      </span>
      <span class="input-group-addon"
            title="Interpolate colors by date">
        Interpolate colors
        {{input type="checkbox" checked=rankColors}}
      </span>
      <span class="input-group-addon">
        Node names
      </span>
	{{#power-select
	   options=nodeNameTypes
	   selected=nodeNameType
	   placeholder="Node label"
	   onchange=(action (mut nodeNameType))
	   as |nodeNameType|
	}}
	  {{nodeNameType}}
	{{/power-select}}
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-12' id='_tree_enclosure'>
    {{phylotree-widget
      tree=model.tree
      copynumbers=model.copynumbers
      sortState=sortState
      do_copy_number=true
      seqIdToNodeName=seqIdToNodeName
      seqIdToNodeColor=seqIdToNodeColor
      seqIdToMotifColor=seqIdToMotifColor
      seqIdToMotif=model.sequences.idToMotif
      radialLayout=radialLayout
      showCopynumber=showCopynumber
      overlapNodes=overlapNodes
      heightScale=heightScale
    }}
  </div>
</div>
